/*

Color Theme

#2176cc  Blue
#ff7d6e  Pink
#fca6ac  Light Pink
#e8e7cb  Yellow

*/

b {
    color: #ff7d6e;
}

body {
    border: 0px;
    margin: 0px;
    background-color: #2176cc;
}

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
}

#stats {
    visibility: hidden;
    width: 300px;
    background-color: rgba(33, 33, 33, 0.95);
    z-index: 3;
    position: fixed;
    top :30px;
    left: 30px;
    border-radius: 10px;
    padding: 30px 30px 30px 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}